# Info

The purpose of this notebook is to show how to easily connect to the created and populated AWS Redshift cluster using provided Infrastructure as Code and run some example analytical queries.

# Packages

In [1]:
import sys
sys.path.append("../../classes/")
import logging
import getpass 
import pandas as pd
pd.set_option('display.max_colwidth', -1)
from iac import iac

In [2]:
KEY = getpass.getpass('Enter user name: ')
SECRET = getpass.getpass('Enter password')

Enter user name: ········
Enter password········

In [3]:
IAC = iac(KEY,SECRET,region='us-west-2')

In [4]:
# extract VPC ID
props = IAC.redshift_properties("../IaC/dwh.cfg")
VPC_ID = (props.loc[props['Key'] == 'VpcId'])['Value'].tolist()[0]

In [5]:
conn_string = IAC.redshift_authorize_connection("../IaC/dwh.cfg",VPC_ID)

ec2.SecurityGroup(id='sg-018e9b9dc477c1887')
Could not authorize ingress or ingress already present. Read the error below:
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [6]:
# establish Redshift connection
%load_ext sql
%sql $conn_string

'Connected: admin@dwh'

# NOTE!:

The database was filled with GDELT events added since **2020-01-01** to cut time and transfer costs (`dateadded` column), however events referred might go back into the past.

# Example test queries

Basic test queries to see the number of records and the headers of the datasets.

## Query #1: total records GDELT

In [7]:
%%sql result_query_1 << 
SELECT COUNT(*)
FROM gdelt_events

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable result_query_1

In [8]:
result_query_1

[(8786971,)]

## Query #2: example header from GDELT

In [9]:
%%sql 
SELECT * FROM gdelt_events 
ORDER BY sqldate DESC
limit 5

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(908911277, datetime.date(2020, 2, 28), 'COP', 'POLICE', '', 'USA', 'UNITED STATES', 'USA', Decimal('-5'), 35, 8, 33, Decimal('-7'), 2, 'Idaho, United States', 'US', Decimal('44'), Decimal('-114'), 'ID', 2, 'Idaho, United States', 'US', Decimal('44'), Decimal('-114'), 'ID', 2, 'Idaho, United States', 'US', Decimal('44'), Decimal('-114'), 'ID', datetime.date(2020, 2, 28), 'https://www.sltrib.com/news/nation-world/2020/02/27/lori-vallow-waives/'),
 (908911269, datetime.date(2020, 2, 28), 'COP', 'POLICE', '', 'USA', 'MILWAUKEE', 'USA', Decimal('-2'), 140, 14, 140, Decimal('-3'), 0, '', '', None, None, '', 0, '', '', None, None, '', 0, '', '', None, None, '', datetime.date(2020, 2, 28), 'https://www.ktvb.com/article/news/nation-world/milwaukee-police-id-victims-in-deadly-molson-coors-shooting/277-a7e352a6-ae60-4368-b288-f8aee0dd2b27'),
 (908910765, datetime.date(2020, 2, 28), '', '', '', 'USA', 'UNITED STATES', 'USA', Decimal('-5'), 26, 7, 26, Decimal('-6'), 0, '', '', None, None, '', 3, 'Cheyenne, Wyoming, United States', 'US', Decimal('41'), Decimal('-104'), '1609077', 3, 'Cheyenne, Wyoming, United States', 'US', Decimal('41'), Decimal('-104'), '1609077', datetime.date(2020, 2, 28), 'https://www.bakersfield.com/ap/national/man-held-in-wyoming-in-california-cemetery-killings/article_39326c4e-be10-596d-902a-473a55987b9e.html'),
 (908910757, datetime.date(2020, 2, 28), '', '', '', 'USA', 'UNITED STATES', 'USA', Decimal('-2'), 408, 75, 408, Decimal('-2'), 0, '', '', None, None, '', 2, 'California, United States', 'US', Decimal('36'), Decimal('-119'), 'CA', 2, 'California, United States', 'US', Decimal('36'), Decimal('-119'), 'CA', datetime.date(2020, 2, 28), 'https://www.kearneyhub.com/news/national/us-identifies-habitat-critical-for-survival-of-rare-songbird/article_cb095d1f-2fb0-5e39-b77b-5f0353a08e62.html'),
 (908911213, datetime.date(2020, 2, 28), 'COP', 'POLICE', '', '', '', '', Decimal('-10'), 5, 1, 5, Decimal('-8'), 4, 'Adelaide, South Australia, Australia', 'AS', Decimal('-34'), Decimal('138'), '-1555188', 0, '', '', None, None, '', 4, 'Adelaide, South Australia, Australia', 'AS', Decimal('-34'), Decimal('138'), '-1555188', datetime.date(2020, 2, 28), 'https://www.miragenews.com/police-arrest-man-after-woman-shot-south-australia/')]

## Query #3 total records GNIS

In [10]:
%%sql result_query_2 << 
SELECT COUNT(*)
FROM gnis

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable result_query_2

In [11]:
result_query_2

[(2287231,)]

## Query #4: Example header from GNIS dataset

In [12]:
%%sql
SELECT * 
FROM gnis
LIMIT 5

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('452', 'Valley View Canyon', 'Valley', 'AZ', 'Navajo', '340657N', '1103023W', Decimal('1609'), 'Spotted Mountain', datetime.date(1980, 2, 8), None),
 ('967', 'Baker Spring', 'Spring', 'AZ', 'Mohave', '350109N', '1141739W', Decimal('769'), 'Mount Nutt', datetime.date(1980, 2, 8), datetime.date(2011, 4, 18)),
 ('1497', 'Black Canyon Well', 'Well', 'AZ', 'Graham', '323736N', '1100951W', Decimal('1301'), 'Eureka Ranch', datetime.date(1980, 2, 8), datetime.date(2017, 12, 21)),
 ('1738', 'Blue Tank Canyon', 'Valley', 'AZ', 'Maricopa', '334356N', '1131730W', Decimal('559'), 'Weldon Hill', datetime.date(1980, 2, 8), None),
 ('2187', 'Bullion Mine', 'Mine', 'AZ', 'Mohave', '352507N', '1141101W', Decimal('1298'), 'Chloride', datetime.date(1980, 2, 8), None)]

---

# Example analytical QUERIES

Below I show only 3 analytical queries:
1. Using solely GDELT events table
2. Using solely GNIS dimension table
3. Combining GDELT and GNIS tables to answer more detailed question


---

## QUERY 1: GDELT dataset
For a given active actor `Actor1`, i.e. the actor that performs an action (in this example `POL` for Poland), show the mean and standard deviation of Goldstein score, i.e. a score for an impacting event, conveying the magnitude and direction of impact (positive and negative), that is a proxy for region stability. Limit results to events in 2020 and after.

 
This query would answer the question of nagative/positive impacts of events by monthly basis. It could be used to analyze actor trends over time.

In [13]:
%%sql
SELECT EXTRACT(MONTH FROM sqldate) as month, EXTRACT(YEAR FROM sqldate) as year,
AVG(goldsteinscale) as AVG_GOLDSTEIN, 
stddev(goldsteinscale) as STD_GOLDSTEIN
FROM gdelt_events
WHERE actor1code in ('POL') AND sqldate>='2020-01-01'
GROUP BY year,month
ORDER BY year,month

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(1, 2020, Decimal('0'), 4.4761342123287),
 (2, 2020, Decimal('0'), 4.30480962812199)]

## QUERY 2: GNIS dataset:

Select most 10 occuring features in the state of Oklahoma

In [14]:
%%sql
SELECT DISTINCT  feature_name, COUNT(feature_name) as occ
FROM gnis
WHERE state_alpha='OK'
GROUP BY feature_name
ORDER BY occ DESC
LIMIT 10

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('First Baptist Church', 248),
 ('Church of Christ', 159),
 ('First Christian Church', 92),
 ('First United Methodist Church', 90),
 ('Rock Creek', 69),
 ('United Methodist Church', 65),
 ('Assembly of God Church', 64),
 ('The Church of Jesus Christ of Latter Day Saints', 54),
 ('Spring Creek', 48),
 ('Sand Creek', 45)]

its Churches and Creeks all the way down :)

## QUERY 3: GDELT and GNIS together

Report the number of positive events (`goldsteinscale>0`) by month in 2020 that refer to the `First Baptist Church` in Oklahoma State.

`First Baptist Church` can be either an actor1 or a geospatial feature.

In [15]:
%%sql

SELECT EXTRACT(MONTH FROM sqldate) as MONTH_of_2020, (count(*))
FROM gdelt_events ge
WHERE ( 
    
    (actiongeo_featureid IN ( SELECT DISTINCT feature_id as actiongeo_featureid FROM GNIS
    WHERE feature_name='First Baptist Church' and state_alpha='OK')) 
    
    or actor1geo_featureid IN  ( SELECT DISTINCT feature_id as actiongeo_featureid FROM GNIS
    WHERE feature_name='First Baptist Church' and state_alpha='OK')   

) and  goldsteinscale>0 and sqldate>='2020-01-01'

GROUP BY MONTH_of_2020

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(1, 8), (2, 8)]

and we can show these events (first 5), starting with the most recent and most positively impacting

In [16]:
%%sql

SELECT dateadded,sqldate,goldsteinscale,actor1name,actor1geo_fullname,sourceurl
FROM gdelt_events ge
WHERE ( 
    
    (actiongeo_featureid IN ( SELECT DISTINCT feature_id as actiongeo_featureid FROM GNIS
    WHERE feature_name='First Baptist Church' and state_alpha='OK')) 
    
    or actor1geo_featureid IN  ( SELECT DISTINCT feature_id as actiongeo_featureid FROM GNIS
    WHERE feature_name='First Baptist Church' and state_alpha='OK')   

) and  goldsteinscale>0 and sqldate>='2020-01-01'

ORDER BY dateadded DESC, goldsteinscale DESC
LIMIT 5

 * postgresql://admin:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.date(2020, 2, 22), datetime.date(2020, 2, 22), Decimal('3'), 'UNITED STATES', 'First Baptist Church, Oklahoma, United States', 'https://www.stwnewspress.com/news/stillwater-housing-authority-combines-with-agencies-to-provide-housing-vouchers/article_20c1c9d7-7619-52af-875f-2ea42d209ed0.html'),
 (datetime.date(2020, 2, 16), datetime.date(2020, 2, 16), Decimal('4'), '', '', 'https://www.duncanbanner.com/community/oklahoma-state-beekeepers-association-to-host-spring-conference-in-duncan/article_41b547f8-4ecf-11ea-a9aa-8b4886933abf.html'),
 (datetime.date(2020, 2, 16), datetime.date(2020, 2, 16), Decimal('4'), 'OKLAHOMA', 'Oklahoma, United States', 'https://www.duncanbanner.com/community/oklahoma-state-beekeepers-association-to-host-spring-conference-in-duncan/article_41b547f8-4ecf-11ea-a9aa-8b4886933abf.html'),
 (datetime.date(2020, 2, 16), datetime.date(2020, 2, 16), Decimal('2'), 'OKLAHOMA', 'First Baptist Church, Oklahoma, United States', 'https://www.duncanbanner.com/community/oklahoma-state-beekeepers-association-to-host-spring-conference-in-duncan/article_41b547f8-4ecf-11ea-a9aa-8b4886933abf.html'),
 (datetime.date(2020, 2, 11), datetime.date(2020, 2, 11), Decimal('4'), 'OSAGE', 'First Baptist Church, Oklahoma, United States', 'https://www.tulsaworld.com/communities/skiatook/news/community-calendar-february/article_5976f13d-b937-5281-84cf-6e4f8711a0fd.html')]